<app-nav></app-nav>
<header>
        <div class="textos">
                <h1 class="titulo">ASI</h1>
                <h3 class="subtitulo">Sistema fundaciones</h3>
                <!--  <a href="#" class="boton">Suscribete</a>-->
        </div>
        <div class="sesgoabajo"></div>
</header>
<main>
        <section class="acerca-de">
                <div class="contenedor">
                        <h2 class="sobre-nosotros">Nuestro proyecto</h2>

                        <p class="parrafo">Tenemos la misión de conectar a todas las fundaciones o protectoras de
                                animales y
                                demás entidades colaboradoras con aquellos interesados en sumar a un miembro más a la
                                familia, para
                                que aquellos animales que no lo han tenido fácil logren encontrar su hogar definitivo.
                        </p>

                        <!--  <a href="#" class="boton">Suscribete</a>-->
                </div>
        </section>
        <section class="galeria">
                <div class="sesgoarriba"></div>
                <div class="imagenes none">
                        <img src="../../../../assets/img/gato7.jpg" alt="">
                </div>
                <div class="imagenes">
                        <img src="../../../../assets/img/perro-gato-by-Rocket-900x600.jpg" alt="">
                </div>
                <div class="imagenes">
                        <img src="../../../../assets/img/veterinaria-macias-001.jpg" alt="">
                        <div class="encima">
                                <h2>ADOPTA</h2>
                                <div></div>
                        </div>
                </div>
                <div class="imagenes">
                        <img src="../../../../assets/img/Perro-blanco-con-negro-354014.jpg" alt="">

                </div>
                <div class="imagenes none">
                        <img src="../../../../assets/img/5865758f8cd02.jpeg" alt="">
                </div>
                <div class="sesgoabajo"></div>
        </section>
        <section class="miembros">
                <div class="contenedor">
                        <h2 class="sobre-nosotros">Conoce nuestra plataforma</h2>
                      <!-- <h3 class="slogan">Conoce nuestra </h3>-->  
                        <div class="cards">
                                <div class="cardo cdod">
                                        <div class="imgBox">
                                                <img
                                                        src="../../../../assets/img/blog.jpg">
                                                        <h5>¿Amas a los animales?</h5>
                                        </div>
                                        <div class="details">
                                                <h2>¡Adopta un amigito!</h2>
                                                <div class="guiaRF">
                                                                <div class="g1">
                                                                        <div class="imgG">
                                                                                <img src="../../../../assets/img/63405650-descargar-ilustración-de-signo-icono-blanco-en-círculo-rojo-.png">
                                                                        </div>
                                                                        <div class="pr">
                                                                                <p>Descarga nuestra App Mobil.</p>
                                                                        </div>
                                                                </div>
                                                                <div class="g1">
                                                                        <div class="imgG">
                                                                                <img src="../../../../assets/img/depositphotos_143182805-stock-photo-set-of-rounded-colorful-icons.png">
                                                                        </div>
                                                                        <div class="pr">
                                                                                <p>Selecciona la mascota y llena el formulario de adopción.</p>
                                                                        </div>
                                                                </div>
                                                                <div class="g1">
                                                                        <div class="imgG">
                                                                                <img src="../../../../assets/img/mail-pp.png">
                                                                        </div>
                                                                        <div class="pr">
                                                                                <p>Tu formulario sera enviado a la fundación respectiva y se notificara si tu
                                                                                        adopción fue aprobada.
                                                                                </p>
                                                                        </div>
                                
                                                                </div>
                                                        </div>
                                        </div>
                                </div>
                                <div class="cardo">
                                        <div class="imgBox">
                                                <img
                                                        src="../../../../assets/img/29-1131.00.jpg">
                                                        <h5>¿Eres una fundación o protectora de animales?</h5>
                                        </div>
                                        <div class="details">
                                                <h2>¡Únete a nuestra plataforma!</h2>
                                                <div class="guiaRF">
                                                                <div class="g1">
                                                                        <div class="imgG">
                                                                                <img src="../../../../assets/img/45481322-icono-de-ráster-del-formulario-de-prueba-el-estilo-es-símbolo-plano-color-rojo-ángulos-redondeados-fondo-n.png">
                                                                        </div>
                                                                        <div class="pr">
                                                                                <p>Regístrate en nuestra plataforma.
                                                                                </p>
                                                                        </div>
                                
                                                                </div>
                                                                <div class="g1">
                                                                        <div class="imgG">
                                                                                <img src="../../../../assets/img/istockphoto-668721150-1024x10242.png">
                                                                        </div>
                                                                        <div class="pr">
                                                                                <p>Recibirás un email pidiéndote que confirmes tu cuenta.</p>
                                                                        </div>
                                                                </div>
                                                                <div class="g1">
                                                                        <div class="imgG">
                                                                                <img src="../../../../assets/img/istockphoto-668721150-1024x1024.png">
                                                                        </div>
                                                                        <div class="pr">
                                                                                <p>Pasadas 24 horas, se te notificará si tu datos fueron aprobados. Entonces
                                                                                        ya podrás publicar en la web.
                                                                                </p>
                                                                        </div>
                                
                                                                </div>
                                                        </div>
                                        </div>
                                </div>
                                <div class="cardo">
                                        <div class="imgBox">
                                                <img
                                                        src="../../../../assets/img/casas-de-acogida-perros.jpg">
                                                        <h5>¿Te gusta ayudar a los animales?</h5>
                                        </div>
                                        <div class="details">
                                                <h2>¡Se voluntario!</h2>
                                                <div class="guiaRF">
                                                                <div class="g1">
                                                                        <div class="imgG">
                                                                                <img src="../../../../assets/img/63405650-descargar-ilustración-de-signo-icono-blanco-en-círculo-rojo-.png">
                                                                        </div>
                                                                        <div class="pr">
                                                                                <p>Descarga nuestra App Mobil.</p>
                                                                        </div>
                                                                </div>
                                                                <div class="g1">
                                                                        <div class="imgG">
                                                                                <img src="../../../../assets/img/ver-el-icono-de-color-rojo-plana-fhnakj.png">
                                                                        </div>
                                                                        <div class="pr">
                                                                                <p>Dirigite a la sección "Fundaciones" y busca la fundación a la que deseas
                                                                                        colaborar como voluntario.</p>
                                                                        </div>
                                                                </div>
                                                                <div class="g1">
                                                                        <div class="imgG">
                                                                                <img src="../../../../assets/img/mail-pp.png">
                                                                        </div>
                                                                        <div class="pr">
                                                                                <p>Llena el formulario con los datos solicitados. Se notificará si tus datos
                                                                                        fueron aprobados.
                                                                                </p>
                                                                        </div>
                                
                                                                </div>
                                                        </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </section>
        <section class="fondo">
                <div class="sesgoarriba"></div>
                <div class="contenedor">
                        <h2 class="titulo-patrocinadores">Nuestra aplicación móvil</h2>
                        <h3 class="subtitulo-patrocinadores" style="cursor:pointer">Descárgala ahora <i class="fa fa-download" aria-hidden="true"></i></h3>
                        <div class="clientes">
                                <div class="cliente">
                                        <img src="../../../../assets/img/inicioMOBIL.jpg" alt="">
                                </div>
                                
                        </div>
                       <!--<h3 class="subtitulo-patrocinadores especial">Descárgala ahora <i class="fa fa-download" aria-hidden="true"></i></h3>--> 
                </div>
                <div class="sesgoabajo-unico"></div>
        </section>
</main>
<app-footer></app-footer>