<app-nav></app-nav>


<!-- Swiper -->
<div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide s1">
                <div class="content">
                        <h2>ASI</h2>
                        <p>Nuestro proyecto tiene la misión de conectar a todas las asociaciones, fundaciones o protectoras de animalesy
                                demás entidades colaboradoras con aquellos interesados en sumar a un miembro más a la familia, para
                                que aquellos animales que no lo han tenido fácil logren encontrar su hogar definitivo.</p>
                </div>
          </div>
          <div class="swiper-slide s2">Slide 2</div>
          <div class="swiper-slide s3">Slide 3</div>
          <div class="swiper-slide s4">Slide 4</div>
         
        </div>
        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
      
      </div>


<div class="container-options">
                <div class="cardo">
                                <div class="face face1">
                                        <div class="content2">
                                                <img src="../../../../assets/img/0671bf66-752e-4913-aadf-ad327024461d.jpg">
                                                <h3>Design</h3>
                                        </div>
                                </div>
                                <div class="face face2">
                                                <div class="content2">
                                                        <p>Lorem Ipsum is simply dummy text of the 
                                                                printing and typesetting industry. Lor
                                                               
                                                                in </p>
                                                         <a href="#">VER MAS</a>
                                                        </div>
                                        
                                </div>
                              
                        </div>
        <div class="cardo">
                        <div class="face face1">
                                <div class="content2">
                                        <img src="../../../../assets/img/0671bf66-752e-4913-aadf-ad327024461d.jpg">
                                        <h3>Design</h3>
                                </div>
                        </div>
                        <div class="face face2">
                                        <div class="content2">
                                                <p>Lorem Ipsum is simply dummy text of the 
                                                        printing and typesetting industry. Lor
                                                       
                                                        in </p>
                                                 <a href="#">VER MAS</a>
                                                </div>
                                
                        </div>
                      
                </div>
                <div class="cardo">
                                <div class="face face1">
                                        <div class="content2">
                                                <img src="../../../../assets/img/0671bf66-752e-4913-aadf-ad327024461d.jpg">
                                                <h3>Design</h3>
                                        </div>
                                </div>
                                <div class="face face2">
                                                <div class="content2">
                                                        <p>Lorem Ipsum is simply dummy text of the 
                                                                printing and typesetting industry. Lor
                                                               
                                                                in </p>
                                                         <a href="#">VER MAS</a>
                                                        </div>
                                        
                                </div>
                              
                        </div>
</div>

<!--

<div class="bgimg-2">
        <div class="tituloBG">
                <h4>¿Eres una fundación o protectora de animales?</h4>
                <p>¡Únete a nuestra plataforma!</p>
        </div>
                <div class="pasos-fundacion">
                        <div class="article">
        
                                <div class="guiaRF">
                                        <div class="g1">
                                                <div class="imgG">
                                                        <img src="../../../../assets/img/45481322-icono-de-ráster-del-formulario-de-prueba-el-estilo-es-símbolo-plano-color-rojo-ángulos-redondeados-fondo-n.png">
                                                </div>
                                                <div class="pr">
                                                        <p>Regístrate pulsando el enlace de "Registro", introduciendo los datos necesarios.
                                                        </p>
                                                </div>
        
                                        </div>
                                        <div class="g1">
                                                <div class="imgG">
                                                        <img src="../../../../assets/img/istockphoto-668721150-1024x10242.png">
                                                </div>
                                                <div class="pr">
                                                        <p>Recibirás un email pidiéndote que confirmes tu cuenta.</p>
                                                </div>
                                        </div>
                                        <div class="g1">
                                                <div class="imgG">
                                                        <img src="../../../../assets/img/istockphoto-668721150-1024x1024.png">
                                                </div>
                                                <div class="pr">
                                                        <p>Pasadas 72 horas, recibirás un segundo email cuando hayamos verificado que
                                                                la información. Entonces
                                                                ya podrás publicar en la web.
                                                        </p>
                                                </div>
        
                                        </div>
                                </div>
        
        
                        </div>
        
                </div>
        </div>
        
        <div class="bgimg-3">
                        <div class="tituloBG2">
                                        <h4>¿Amas a los animales?</h4>
                                        <p>¡Adopta un amigito y brindale un hogar!</p>
                                </div>
                <div class="pasos-adoptar">
                        <div class="article">
                                <div class="guiaRF">
                                        <div class="g1">
                                                <div class="imgG">
                                                        <img src="../../../../assets/img/63405650-descargar-ilustración-de-signo-icono-blanco-en-círculo-rojo-.png">
                                                </div>
                                                <div class="pr">
                                                        <p>Descarga nuestra App Mobil.</p>
                                                </div>
                                        </div>
                                        <div class="g1">
                                                <div class="imgG">
                                                        <img src="../../../../assets/img/depositphotos_143182805-stock-photo-set-of-rounded-colorful-icons.png">
                                                </div>
                                                <div class="pr">
                                                        <p>Selecciona la mascota y llena el formulario de adopción.</p>
                                                </div>
                                        </div>
                                        <div class="g1">
                                                <div class="imgG">
                                                        <img src="../../../../assets/img/mail-pp.png">
                                                </div>
                                                <div class="pr">
                                                        <p>Tu formulario sera enviado a la fundación respectiva y se notificara si tu
                                                                adopción fue aprobada.
                                                        </p>
                                                </div>
        
                                        </div>
                                </div>
        
                        </div>
        
                </div>
        </div>
        <div class="bgimg-4">
                        <div class="tituloBG">
                                        <h4>¿Te gusta ayudar a los animales?</h4>
                                        <p>¡Se voluntario!</p>
                                </div>
                <div class="pasos-voluntario">
                        <div class="article">
                                <div class="guiaRF">
                                        <div class="g1">
                                                <div class="imgG">
                                                        <img src="../../../../assets/img/63405650-descargar-ilustración-de-signo-icono-blanco-en-círculo-rojo-.png">
                                                </div>
                                                <div class="pr">
                                                        <p>Descarga nuestra App Mobil.</p>
                                                </div>
                                        </div>
                                        <div class="g1">
                                                <div class="imgG">
                                                        <img src="../../../../assets/img/ver-el-icono-de-color-rojo-plana-fhnakj.png">
                                                </div>
                                                <div class="pr">
                                                        <p>Dirigite a la sección "Fundaciones" y busca la fundación a la que deseas
                                                                colaborar como voluntario.</p>
                                                </div>
                                        </div>
                                        <div class="g1">
                                                <div class="imgG">
                                                        <img src="../../../../assets/img/mail-pp.png">
                                                </div>
                                                <div class="pr">
                                                        <p>Llena el formulario con los datos solicitados. Se notificará si tus datos
                                                                fueron aprobados.
                                                        </p>
                                                </div>
        
                                        </div>
                                </div>
        
        
                        </div>
        
                </div>
        </div>
-->
        <app-footer></app-footer>

        
                