
<footer>
        <div class="contenedor">
                
               
                <div class="optionsFooter">
                      <div class="titulo-footer">
                              <img  src="../../../../assets/img/Captura2.png">
              </div>
                        <div class="flinks">
                                <a [routerLinkActive]="['active']" [routerLink]="['/admin','panel-usuarios','fundaciones']"><img src="../../../../assets/img/ver-el-icono-de-color-rojo-plana-fhnakj.png"> Panel de usuarios</a>
                                <a [routerLinkActive]="['active']" [routerLink]="['/fundacion','cuentas','all','1']"><img src="../../../../assets/img/errorvolun.png"> Aprobar cuentas</a>
                                <a [routerLinkActive]="['active']" [routerLink]="['/fundacion',idFun,'newFundacion']" ><img src="../../../../assets/img/45481322-icono-de-ráster-del-formulario-de-prueba-el-estilo-es-símbolo-plano-color-rojo-ángulos-redondeados-fondo-n.png"> Nueva fundación</a>

                               
                               
                                
                        </div>
                    <!--    <div class="btnDesc">
                                        <div class="social-icons">
      
                                                        <button type="button" class="h" (click)="nuevaAdopcion()">Descarga nuestra APP
                                                          <i class="fa fa-android" aria-hidden="true"></i>
                                                        </button>
                                                
                                                      </div>
                        </div>-->
                        <div class="desarrolladores">
                                <h5>Desarrolladores</h5>
                                <p>María Fernanda Tibanta</p>
                                <p>David Hernández</p>
                        </div>
                </div>
                <!--<h3 class="subtitulo-footer">Lo apreciariamos mucho</h3>
                <div class="footer">
                        <form action="">
                                <input type="text" name="" id="" placeholder="Nombre">
                                <input type="email" name="" id="" placeholder="Email">
                                <textarea name="" id="" cols="30" rows="10"
                                        placeholder="Ingrese su mensaje..."></textarea>
                                <input type="submit" value="Enviar">
                        </form>
                </div>-->
                
        </div>
      </footer>