
h5,h3,h2,h1,p,a{
    font-family: 'Righteous', cursive;
}
.containerLoad{
    position: absolute;
    height: 12%;
    width: 100%;

    padding-top: 2rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1020;
}
.loading{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
   position: relative;
   animation: a1 2s linear infinite;
}
.loading::before, .loading::after{
    content: '';
    width: 100px;
    height: 100px;
    
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%
}

.loading::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}

.loading::after{
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}

.loading span{
    position: absolute;
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
    line-height: 100px;
    animation: a2 2s linear infinite;

}
@keyframes a1{
    to{
        transform: rotate(360deg);
    }
}
@keyframes a2{
    to{
        transform: rotate(-360deg);
    }
}
.pp{
    width: 100%;
    margin: 0;
    background: #fff;
}



/*
.bird-box{
    position: relative;
    height: 560px;
    background: url("../../../../assets/img/perro-gato-mascotas.jpg");
    background-size: 100% 560px;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    overflow: hidden;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 

}
.l{
    background-size: 120% 700px;

}


.logo{
    transform: translate3d(-800px,-40px,0) !important;
    height: auto;
    width: 56%;
    
    position: absolute;
    top: 83%;
    padding-left: 76px;
    margin-top: -50px;
    position: absolute;
    position: absolute;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    
   
}
.logo h4{
    padding: 10px 10px 10px 34px;
    font-size: 2.5rem;
    font-family: 'Exo', sans-serif;
    text-align: end;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    background: rgba(0,0,0,0.65);
    border-right: 4px solid #00000078;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
     transform: skew(20deg);
}

.logo h4 p{
    -webkit-transform: skew(-20deg) !important;
    -moz-transform: skew(-20deg) !important;
    -ms-transform: skew(-20deg) !important;
    -o-transform: skew(-20deg) !important;
     transform: skew(-20deg) !important;
}
.logo button{
    position: absolute;
    left: 89%;
    bottom: -30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3bbfad;
    font-family: 'Exo', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
     transform: skew(20deg);
}

.logo button i{
    margin-left: 5px;
    -webkit-transform: skew(-20deg) !important;
    -moz-transform: skew(-20deg) !important;
    -ms-transform: skew(-20deg) !important;
    -o-transform: skew(-20deg) !important;
     transform: skew(-20deg) !important;
}

.logo button span{
    -webkit-transform: skew(-20deg) !important;
    -moz-transform: skew(-20deg) !important;
    -ms-transform: skew(-20deg) !important;
    -o-transform: skew(-20deg) !important;
     transform: skew(-20deg) !important;
}
.visibleLog{
    transform: translate3d(-100px, -40px,0) !important;
    -webkit-transform: translate3d(-100px, -40px,0) !important; 
    -o-transform: translate3d(-100px, -40px,0) !important;
    -moz-transform: translate3d(-100px, -40px,0) !important; 
}

.fore-bird{
    width: 960px;
    height: 380px;
    background: url("../../../../assets/img/gatoM.png");
    background-color: transparentize(pink, 0.4);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;

    background-size: 230px 300px;
    left: -14%;
    margin-left: -480px;
    top: 281px;
}

.back-bird{
    width: 960px;
    height: 298px;
    background: url("../../../../assets/img/back-bird.png");
    background-repeat: no-repeat;
    background-position: top left;
    
    position: absolute;
    left: 50%;
    margin-left: -480px;
}*/

/*--HEADER-*/
header{
    margin-top: 4rem;

}
header .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .titulo h3{
    font-family: 'Righteous', cursive;
    font-size: 60px;
    color: #3bbfad;
}

header .titulo .lineTi{
    width: 5%;
    border-radius: 5px;
    border-top: 3px solid #3bbfad;
}

header .descripcionPes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 5rem;
    flex-wrap: wrap;
}
header .descripcionPes .imgIcon{
   
    text-align: end;
    display: flex;
    padding-right: 1rem;
    justify-content: flex-end;
}
header .descripcionPes p{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Exo', sans-serif;
    margin: 0;
}
header .descripcionPes .imgIcon .imgI{
    width: 7rem;
    height: 7rem;
}
header .descripcionPes .imgIcon .imgI img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*--MAIN, FILTROS Y MASCOTAS--*/

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 5rem !important;
    padding: 0 2rem;
    justify-content: space-evenly;
}
.main .main-filtros{
    max-width: 20%;
    width: 20%;
    min-width: 20%;
    padding: 25px 0;
    margin: 20px 0;
}
.main .main-filtros form{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.main .main-filtros form .btnDPR{
    
}
.main .main-fundaciones{
    max-width: 70%;
    width: 70%;
    min-width: 70%;
}


.content{
    position: relative;
   
}

figure{
    margin: auto
}


.content article{
    padding: 0 0;
    padding-bottom: 0;

}




.eluid36c84ad4 {
    margin-top: 6px;
    margin-bottom: 35px;
    text-align: center;
}
.eluid36c84ad4.zn_separator--icon-yes .zn_separator__line {
    border-top-width: 3px;
    border-top-color: #3bbfa0;
    width: calc(50% - 35px);
}

.zn_separator--icon-yes .zn_separator__line {
    content: '';
    display: inline-block;
    border-top-style: solid;
    width: calc(50% - 50px);
    vertical-align: middle;
}
.eluid36c84ad4 .zn_separator__icon {
    font-size: 30px;
    color: #3bbfa0;
}
.clearfix:before{
    content: " ";
    display: table;
}



.clearfix:after{
    clear: both;
}
.mascots{
    background: #fff;
}
.clothes-pics{
    width: 100%;
    padding: 25px 20px;
    background: #fff;
}
.clothes-pics figure{
    margin-bottom: 20px;
    position: relative;
    width: 15rem;
    box-shadow: 0px 0px 20px #444;
    height: 17rem;
    
    margin: 20px;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;
}

.clothes-pics figure img{
    width: 100%;
    height: 100%;
}
.clothes-pics .is-showing{
    opacity: 1;
    transform: translateX(0px)
}

.img-row{
    justify-content: center;
}

 .btnMasMascotas{
     text-align: center;
     padding-top: 15px;
     margin-top: 0;
   
 }
 
 .btnMasMascotas a:nth-child(1){
    margin-right: 10px;
    color: #3bbfa0;
    background: transparent;
    border: 2px solid #3bbfa0
 
 
 }
 .btnMasMascotas a:nth-child(2){
     margin-left: 10px;
    
     color: #3bbfa0;
     background: transparent;
     border: 2px solid #3bbfa0
 
     
 }

 .imgFundac{
     widows: 100%;
     height: 100%;
     border-radius: 5px;
 }
 .imgC{
    widows: 100%;
    height: 80%;
    border-radius: 5px;
 }
 .carousel-itemC{
    widows: 100%;
    height: 100%;
    border-radius: 5px;
 }

 .nombreMsc{
    widows: 100%;
    height: 20%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


 .nombreMsc a:nth-child(1){
    font-size: 1.5rem;
    color: #3bbfad; 
    font-family: 'Righteous', cursive;
 }
 .nombreMsc a:nth-child(2){
    font-size: .8rem;
    color: #7d8584; 
    text-transform: lowercase;
    text-transform: capitalize;
    font-family: 'Exo', sans-serif;
 }
.dividerTi{
    border-bottom: 1px solid #bfbebecc;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 25px;
    color: #656363;
}
 


  @media only screen and (max-width:1095px){
    .clothes-pics figure{
        width: 15rem;
        height: 17rem;
    }
  }
  @media only screen and (max-width:880px){
    .clothes-pics figure{
        width: 18rem;
        height: 20rem;
    }
  }

  @media only screen and (max-width:650px){
    .main .main-filtros{
        max-width: 80%;
        width: 80%;
        min-width: 80%;
    }
    .main .main-fundaciones{
        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }
    
    .clothes-pics figure{
        width: 18rem;
        height: 20rem;
    }
    header .descripcionPes p{
        max-width: 100%;
        margin-top: 1rem;
        
    }
  }
  @media only screen and (max-width:528px){
    .clothes-pics figure{
        width: 21rem;
        height: 23rem;
        min-width: 18rem;
        min-height: 20rem;
    }
  }
  
  @media only screen and (max-width:978px){
    .logo{
        width: 70%;
        
    }
  }
  @media only screen and (max-width:796px){
    .logo{
        width: 85%;
        
    }
  }
  @media only screen and (max-width:676px){
    .logo{
        width: 100%;
        
    }
  }

  @media only screen and (max-width:576px){
    .fore-bird{
        background-size: 200px 230px;
        left: -35%;
        
    }
    .logo h4{
        font-size: 2.1rem;
    }
  }

  @media only screen and (max-width:420px){
    .fore-bird{
       display: none;
        
    }
    .logo h4{
        font-size: 1.5rem;
        -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
     transform: skew(0deg);
    }
    
  }
 /* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 25px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.filtros{
    width: 100%;
    background: transparent;
    margin: 0px 0px 25px 0px;
    border-radius: 5px;
    

}
.filtros .filtroVarios form{
    border-radius: 5px;
    background: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10rem;
    padding-right: 10rem;

}
.filtros .filtroVarios form ul{
    
    display: flex;
    justify-content: space-evenly;


}
.btnbs{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.btnbs .dropdown{
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.548)
}
.btnbs .dropdown button{
    background: transparent;
    border: 0;
    font-size: 1.3rem;
    font-family: 'Righteous', cursive;
}
.btnbus{
    margin-left: 10px;
    
}


.btnbs .dropdown:nth-child(1){
    margin-right: 10px;
}
.btnbs .dropdown:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}
.btnbs .dropdown:nth-child(3){
    margin-left: 10px;
    margin-right: 10px;
    
}
.btnbs .dropdown:nth-child(4){
    margin-left: 10px;
    
}

.advertencia{
    display: flex;
    width: 100%;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advertencia .imgAd{
    width: 10rem;
    height: 10rem;
    
}

.advertencia .imgAd img{
    width: 100%;
    height: 100%;
    
}