
h5,h3,h2,h1,a,button{
    font-family: 'Righteous', cursive;
}
p{
    font-family: 'Exo', sans-serif; 
}
.containerLoad{
    position: absolute;
    height: 12%;
    width: 100%;

    padding-top: 6rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1020;
}
.btnsDonacion{

}
.btne{
    background: #3bbfad;
    border: 1px solid #3bbfad;
   
}
.btnsDonacion button:nth-child(1){
    background: #3bbfad;
    border: 1px solid #3bbfad;
    margin-right: 10px;
}
.btnsDonacion button:nth-child(2){
    background: #bf3b3b;
    border: 1px solid #bf3b3b;
    margin-left: 10px;
}
.loading{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
   position: relative;
   animation: a1 2s linear infinite;
}
.loading::before, .loading::after{
    content: '';
    width: 100px;
    height: 100px;
    
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%
}

.loading::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}

.loading::after{
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}

.loading span{
    position: absolute;
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
    line-height: 100px;
    animation: a2 2s linear infinite;

}
@keyframes a1{
    to{
        transform: rotate(360deg);
    }
}
@keyframes a2{
    to{
        transform: rotate(-360deg);
    }
}
.pp{
    width: 100%;
    margin: 0;
    background: #fff;
}


/*--HEADER-*/
header{
    margin-top: 8rem;

}
header .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .titulo h3{
    font-family: 'Righteous', cursive;
    font-size: 60px;
    color: #3bbfad;
}

header .titulo .lineTi{
    width: 5%;
    border-radius: 5px;
    border-top: 3px solid #3bbfad;
}

header .descripcionPes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 5rem;
    flex-wrap: wrap;
}
header .descripcionPes .imgIcon{
   
    text-align: end;
    display: flex;
    padding-right: 1rem;
    justify-content: flex-end;
}
header .descripcionPes p{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Exo', sans-serif;
    margin: 0;
}
header .descripcionPes .imgIcon .imgI{
    width: 7rem;
    height: 7rem;
}
header .descripcionPes .imgIcon .imgI img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*--MAIN, FILTROS Y MASCOTAS--*/

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 5rem !important;
    padding: 0 2rem;
    justify-content: space-evenly;
}
.main .main-filtros{
    max-width: 20%;
    width: 20%;
    min-width: 20%;
    padding: 25px 0;
    margin: 20px 0;
}
.main .main-filtros form{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.main .main-filtros form .btnDPR{
    
}
.main .main-mascotas{
    max-width: 70%;
    position: relative;
    width: 70%;
    min-width: 70%;
}


.content{
    position: relative;
   
}

figure{
    margin: auto
}


.content article{
    padding: 0 0;
    padding-bottom: 0;

}




.eluid36c84ad4 {
    margin-top: 6px;
    margin-bottom: 35px;
    text-align: center;
}
.eluid36c84ad4.zn_separator--icon-yes .zn_separator__line {
    border-top-width: 3px;
    border-top-color: #3bbfa0;
    width: calc(50% - 35px);
}

.zn_separator--icon-yes .zn_separator__line {
    content: '';
    display: inline-block;
    border-top-style: solid;
    width: calc(50% - 50px);
    vertical-align: middle;
}
.eluid36c84ad4 .zn_separator__icon {
    font-size: 30px;
    color: #3bbfa0;
}
.clearfix:before{
    content: " ";
    display: table;
}



.clearfix:after{
    clear: both;
}
.mascots{
    background: #fff;
}
.clothes-pics{
    width: 100%;
    padding: 25px 20px;
    background: #fff;
}
.clothes-pics figure{
    margin-bottom: 20px;
    position: relative;
    width: 15rem;
    box-shadow: 0px 0px 20px #444;
    height: 17rem;
    
    margin: 20px;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;
}

.clothes-pics figure img{
    width: 100%;
    height: 100%;
}
.clothes-pics .is-showing{
    opacity: 1;
    transform: translateX(0px)
}

.img-row{
    justify-content: center;
}

 .btnMasMascotas{
     text-align: center;
     padding-top: 15px;
     margin-top: 0;
   
 }
 
 .btnMasMascotas a:nth-child(1){
    margin-right: 10px;
    color: #3bbfa0;
    background: transparent;
    border: 2px solid #3bbfa0
 
 
 }
 .btnMasMascotas a:nth-child(2){
     margin-left: 10px;
    
     color: #3bbfa0;
     background: transparent;
     border: 2px solid #3bbfa0
 
     
 }

 .carousel{
     widows: 100%;
     height: 100%;
     border-radius: 5px;
 }
 .carousel-inner{
    widows: 100%;
    height: 80%;
    border-radius: 5px;
 }
 .carousel-item{
    widows: 100%;
    height: 100%;
    border-radius: 5px;
 }

 .nombreMsc{
    widows: 100%;
    height: 20%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
 }

 .nombreMsc a{
     text-align: center;
        font-size: 1.8rem;
     color: #3bbfad;
     font-family: 'Righteous', cursive;
 }

 
.dividerTi{
    border-bottom: 1px solid #bfbebecc;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 25px;
    color: #656363;
}
 


  @media only screen and (max-width:1095px){
    .clothes-pics figure{
        width: 15rem;
        height: 17rem;
    }
  }
  @media only screen and (max-width:880px){
    .clothes-pics figure{
        width: 18rem;
        height: 20rem;
    }
  }

  @media only screen and (max-width:650px){
    .main .main-filtros{
        max-width: 80%;
        width: 80%;
        min-width: 80%;
    }
    .main .main-mascotas{
        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }
    
    .clothes-pics figure{
        width: 18rem;
        height: 20rem;
    }
    header .descripcionPes p{
        max-width: 100%;
        margin-top: 1rem;
        
    }
  }
  @media only screen and (max-width:528px){
    .clothes-pics figure{
        width: 21rem;
        height: 23rem;
        min-width: 18rem;
        min-height: 20rem;
    }
  }
  
  @media only screen and (max-width:978px){
    .logo{
        width: 70%;
        
    }
  }
  @media only screen and (max-width:796px){
    .logo{
        width: 85%;
        
    }
  }
  @media only screen and (max-width:676px){
    .logo{
        width: 100%;
        
    }
  }

  @media only screen and (max-width:576px){
    .fore-bird{
        background-size: 200px 230px;
        left: -35%;
        
    }
    .logo h4{
        font-size: 2.1rem;
    }
  }

  @media only screen and (max-width:420px){
    .fore-bird{
       display: none;
        
    }
    .logo h4{
        font-size: 1.5rem;
        -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -ms-transform: skew(0deg);
    -o-transform: skew(0deg);
     transform: skew(0deg);
    }
    
  }
 /* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 25px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.filtros{
    width: 100%;
    background: transparent;
    margin: 0px 0px 25px 0px;
    border-radius: 5px;
    

}
.filtros .filtroVarios form{
    border-radius: 5px;
    background: transparent;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10rem;
    padding-right: 10rem;

}
.filtros .filtroVarios form ul{
    
    display: flex;
    justify-content: space-evenly;


}
.btnbs{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.btnbs .dropdown{
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.548)
}
.btnbs .dropdown button{
    background: transparent;
    border: 0;
    font-size: 1.3rem;
    font-family: 'Righteous', cursive;
}
.btnbus{
    margin-left: 10px;
    
}


.btnbs .dropdown:nth-child(1){
    margin-right: 10px;
}
.btnbs .dropdown:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}
.btnbs .dropdown:nth-child(3){
    margin-left: 10px;
    margin-right: 10px;
    
}
.btnbs .dropdown:nth-child(4){
    margin-left: 10px;
    
}

.advertencia{
    display: flex;
    width: 100%;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advertencia .imgAd{
    width: 10rem;
    height: 10rem;
    
}

.advertencia .imgAd img{
    width: 100%;
    height: 100%;
    
}


.btnRGM{
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    
}
.btnRGM button{
    background: #3bbfad;
    color: white;
}


/*---FORM NUEVA MASCOTA---*/

#formRGM{
    display: none;
    margin-top: 5rem !important;
}
.formNuevaMascota{
    background: transparent;
padding: 30px 16rem;
border-radius: 5px;
}

.input-label2{
    background: #3bbfad;

    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.input-label2:hover{
    cursor: pointer;
}

#file{
    display: none;
}

.tituloForm{
    text-align: center;
}
.tituloForm h3{
    color: #3bbfad;
    font-weight: 700;
    font-family: 'Righteous', cursive;
}

.imgRG{
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
padding-top: 10px;
padding-bottom: 10px;
}
.imgRG img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}
.bntRG{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
   }
   mat-form-field{
    width: 100%;
}
.btnsRegMas{
    margin-top: 2rem;
    text-align: center;
}
.btnsRegMas button:nth-child(1){
    background: #3bbfad;
    border: 1px solid #3bbfad;
   
}
.btnsRegMas button:nth-child(2){
    background: #bf3b3b;
    border: 1px solid #bf3b3b;
    
}

/*---ESTILOS CARTAS ADOPCIONES---*/

.card-deck{
    font-family: 'Exo', sans-serif;
    color: white;
    justify-content: center;
}
.card-deck .card{
    max-width: 22rem;
    min-width: 22rem;
    margin-bottom: 2rem;
}
.card-deck .card .card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.card-deck .card .card-header p{
    margin: 0;
}
.card-deck .card .card-header a{
    cursor: pointer;
        color: #3bbfa0;
    font-weight: bold;

}

.card-deck .card .card-body{
    border-top: 5px solid #fc2827;
    background-color: #262626;
    padding:0;
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-deck .card .card-body  .datosAdop{
    
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}


.estadoAdopA{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.estadoAdopP{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.estadoAdopN{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.card-deck .card .card-body .estadoAdopA p, .estadoAdopN p, .estadoAdopP p{
    margin: 0;
}
.card-deck .card  .imgsAdp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-deck .card  .imgsAdp .imgA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 10rem;
    color: #3bbfa0;
}

.card-deck .card  .imgsAdp .imgA img{
    width: 100%;
    height: 70%;
    border-radius: 50%;
}


.container{
    
    margin-top: 20px;
    margin-bottom: 20px;
    
}
  
.btnAdoptar{
    padding: 30px 10px;
}

/*----ESTILOS PARA LA PESTAÑA DE CONTACTANOS----*/
.containerContactanos{
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.datosContactos ul{
    list-style: none;
}
.datosContactos ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.datosContactos ul li p{
    margin: 0;
    margin-left: 10px;
}

.social-icons{
   
    width: 100%;
    text-align: center;
    
    box-sizing: border-box;
   
}

.h::first-letter{
    text-transform: capitalize;
}
.h{
   
    transform: translate(0%, 0%);
    width: 320px;
    height: 40px;
    text-align: center;
    line-height:34px;
    color: #fff;
    font-size: 24px;
  
    text-decoration: none;
    
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
   }
   .h
   {
    animation: animateApp 5s linear infinite;
   }
   @keyframes animateApp
   {
    0%
    {
     background-position: 0%;
    }
    100%
    {
     background-position: 400%;
    }
   }
   .h:before
   {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
   
    
   }
   .h:before
   {
    
    filter: blur(20px);
    opacity:1;
    animation: animateApp 5s linear infinite;
   }

   .advertenciasDonacion{

}
.advertenciasDonacion p{
    margin: 0;
}

.advertenciasDonacion .spinner-grow{
    width: 2rem;
    height: 2rem;
}

.advertenciasDonacion .alert-primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.advertenciasDonacion .alert-danger, .alert-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advertenciasDonacion .progress{
    width: 100%;
    height: 6px;
}