
<app-nav-fundacion></app-nav-fundacion>

<app-actualizar-perfil *ngIf="tipo == 'actualizar-perfil'"></app-actualizar-perfil>
<app-nosotros *ngIf="tipo == 'nosotros'"></app-nosotros>
<app-mismascotas *ngIf="tipo == 'mascotas'"></app-mismascotas>
<app-voluntarios *ngIf="tipo == 'voluntarios'"></app-voluntarios>
<app-adopciones *ngIf="tipo == 'adopciones'"></app-adopciones>
<app-donaciones *ngIf="tipo == 'donaciones'"></app-donaciones>
<app-fcontactanos *ngIf="tipo == 'contactanos'"></app-fcontactanos>
<app-misemergencias *ngIf="tipo == 'emergencias'"></app-misemergencias>

